body {background-image: linear-gradient(black,rgb(29, 29, 29), black);
  color: #f8f9fa;
  margin: 10px;
  text-align: center;
}
#cart {
  color: #000;
  text-align: left;
}
 
#hollowbody {
  align-items: center;
}

#invisible {
  visibility: hidden;
}